* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
header { /* T R B L */ 
    padding: 20px 20px 0 20px;
}
header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
header .brand img {
    width: 40px;
}
header .brand h6 {
    font-size: 24px;
    color: #01528A;
    font-weight: 400;
    line-height: 30px;
}
header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 16px;
}
header ul li {
    font-weight: 300;
    line-height: 30px;
}
header li a {
    text-decoration: none;
    color: #000;
    padding-bottom: 16px;
}
header li a:hover,
header li a.active {
    color: #0889d4;
}
header li a.active {    
    font-weight: 400;
    border-bottom: 2px solid #0889d4;
}
header li button {
    background-color: #0889d4;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 4px;
    margin-left: 16px;
    line-height: 20px;
}



main {
    margin: 32px 0;
}
main h2 {
    margin: 32px 0;
    font-weight: 300;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    color: #01528A;
}
#banner {
    height: 550px;
    border: 1px solid #dcdceb;
    border-radius: 10px;
    color: #01528A;
    background-image: url('../img/background-house.png');
    background-repeat: no-repeat;
    background-position: right;
}
#banner h1 {
    margin: 60px 0 0 45px;
    font-weight: 300;
    font-size: 62px;
}
#banner h3 {
    margin-top: 16px;
    margin-left: 45px;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 32px;
}



#cards {
    margin: 32px 0;
}
#cards .cards-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#cards .card {
    width: 530px;
}